<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Atlandsolía</title>
	<link rel="stylesheet" type="text/css" href="static/stilsida.css">
</head>
<body>
	<h1>Bensínstöðvar</h1>
	<br>
	
	<table>
  	<tr>
    	<th>Fyrirtæki</th>
    	<th>Staður</th>
  	</tr>
 		<tr>
		    <td><a href="/moreinfo/ao_000">Atlantsolía</a></td>
		    <td>Baldursnes Akureyri</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_001">Atlantsolía</a></td>
		    <td>Glerártorg Akureyri</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_002">Atlantsolía</a></td>
		    <td>Bíldshöfði</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_003">Atlantsolía</a></td>
		    <td>Borgarnes</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_004">Atlantsolía</a></td>
		    <td>Búðarkór</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_005">Atlantsolía</a></td>
		    <td>Egilsstaðir</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_006">Atlantsolía</a></td>
		    <td>Hafnarfjarðarhöfn</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_007">Atlantsolía</a></td>
		    <td>Hveragerði</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_008">Atlantsolía</a></td>
		    <td>Kaplakriki</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_009">Atlantsolía</a></td>
		    <td>Kópavogsbraut</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_010">Atlantsolía</a></td>
		    <td>Mosfellsbær</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_011">Atlantsolía</a></td>
		    <td>Njarðvík</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_012">Atlantsolía</a></td>
		    <td>Öskjuhlíð</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_013">Atlantsolía</a></td>
		    <td>Selfoss</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_014">Atlantsolía</a></td>
		    <td>Skeifan</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_015">Atlantsolía</a></td>
		    <td>Skemmuvegur</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_016">Atlantsolía</a></td>
		    <td>Skúlagata</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_017">Atlantsolía</a></td>
		    <td>Sprengisandur</td>
  		</tr>		
 		<tr>
		    <td><a href="/moreinfo/ao_018">Atlantsolía</a></td>
		    <td>Stykkishólmur</td>
  		</tr>		
 	</table>
 	<h3>Fjöldi stöðva: 19</h3>
	<footer>
	<a href="/">Heim</a>
	<footer>
</body>
</html>